<code class="codepen-embed">
    <p class="codepen"
       data-default-tab="{{ instance.selected_language }}{% if instance.show_result %},result{% endif %}"
       data-embed-version="2"
       data-height="{{ instance.height }}"
       data-pen-title="Styled <select> element example"
       data-slug-hash="{{ instance.pen }}"
       data-theme-id="{{ instance.theme_id }}"
       data-user="{{ instance.user }}"></p>

    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</code>
