/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*

Darcula color scheme from the JetBrains family of IDEs

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b; }

.hljs {
  color: #bababa; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba; }

.hljs-code,
.hljs-selector-class {
  color: #a6e22e; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #cb7832; }

.hljs-params {
  color: #b9b9b9; }

.hljs-string {
  color: #6a8759; }

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f; }

.body.body--scrolled {
  margin-top: 48px;
  margin-bottom: 0px; }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

.button, .view-simplepage form input[type=submit] {
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #4d4d4d;
  font-size: 1.25rem;
  height: 48px;
  line-height: 48px;
  background: #E4330E;
  color: #FFF;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease; }
  .button em, .view-simplepage form input[type=submit] em {
    font-style: italic; }
  .button h1, .view-simplepage form input[type=submit] h1, .button h2, .view-simplepage form input[type=submit] h2, .button h3, .view-simplepage form input[type=submit] h3, .button h4, .view-simplepage form input[type=submit] h4, .button h5, .view-simplepage form input[type=submit] h5, .button h6, .view-simplepage form input[type=submit] h6,
  .button b, .view-simplepage form input[type=submit] b, .button strong, .view-simplepage form input[type=submit] strong {
    display: inline-block;
    font-weight: bold; }
  .button h1, .view-simplepage form input[type=submit] h1, .button h2, .view-simplepage form input[type=submit] h2, .button h3, .view-simplepage form input[type=submit] h3, .button h4, .view-simplepage form input[type=submit] h4, .button h5, .view-simplepage form input[type=submit] h5, .button h6, .view-simplepage form input[type=submit] h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .button h1 a, .view-simplepage form input[type=submit] h1 a, .button h2 a, .view-simplepage form input[type=submit] h2 a, .button h3 a, .view-simplepage form input[type=submit] h3 a, .button h4 a, .view-simplepage form input[type=submit] h4 a, .button h5 a, .view-simplepage form input[type=submit] h5 a, .button h6 a, .view-simplepage form input[type=submit] h6 a {
      color: #4d4d4d; }
      .button h1 a:hover, .view-simplepage form input[type=submit] h1 a:hover, .button h2 a:hover, .view-simplepage form input[type=submit] h2 a:hover, .button h3 a:hover, .view-simplepage form input[type=submit] h3 a:hover, .button h4 a:hover, .view-simplepage form input[type=submit] h4 a:hover, .button h5 a:hover, .view-simplepage form input[type=submit] h5 a:hover, .button h6 a:hover, .view-simplepage form input[type=submit] h6 a:hover {
        color: #E4330E; }
  .button h1, .view-simplepage form input[type=submit] h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .button h2, .view-simplepage form input[type=submit] h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .button h3, .view-simplepage form input[type=submit] h3, .button h4, .view-simplepage form input[type=submit] h4, .button h5, .view-simplepage form input[type=submit] h5, .button h6, .view-simplepage form input[type=submit] h6 {
    font-size: 1.75rem; }
  .button img, .view-simplepage form input[type=submit] img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .button p, .view-simplepage form input[type=submit] p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .button ol, .view-simplepage form input[type=submit] ol, .button ul, .view-simplepage form input[type=submit] ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .button ol ol, .view-simplepage form input[type=submit] ol ol, .button ol ul, .view-simplepage form input[type=submit] ol ul, .button ul ol, .view-simplepage form input[type=submit] ul ol, .button ul ul, .view-simplepage form input[type=submit] ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .button ol, .view-simplepage form input[type=submit] ol {
    list-style-type: decimal; }
  .button a, .view-simplepage form input[type=submit] a {
    color: #E4330E;
    text-decoration: none; }
    .button a:hover, .view-simplepage form input[type=submit] a:hover {
      text-decoration: underline; }
  .button:hover, .view-simplepage form input[type=submit]:hover {
    background: #b4280b; }
  .button.button--prev:before, .view-simplepage form input.button--prev[type=submit]:before {
    height: 48px;
    background: url("../img/angle-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    float: left;
    width: 32px; }

.codepen-embed {
  padding-left: 8.33333%;
  padding-right: 8.33333%;
  background: #1d1f20;
  box-sizing: border-box;
  display: block;
  position: relative; }
  .codepen-embed:before {
    content: "";
    background: #3d3d3e;
    display: block;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .codepen-embed .cp_embed_wrapper {
    position: relative; }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

.button, .view-simplepage form input[type=submit] {
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #4d4d4d;
  font-size: 1.25rem;
  height: 48px;
  line-height: 48px;
  background: #E4330E;
  color: #FFF;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease; }
  .button em, .view-simplepage form input[type=submit] em {
    font-style: italic; }
  .button h1, .view-simplepage form input[type=submit] h1, .button h2, .view-simplepage form input[type=submit] h2, .button h3, .view-simplepage form input[type=submit] h3, .button h4, .view-simplepage form input[type=submit] h4, .button h5, .view-simplepage form input[type=submit] h5, .button h6, .view-simplepage form input[type=submit] h6,
  .button b, .view-simplepage form input[type=submit] b, .button strong, .view-simplepage form input[type=submit] strong {
    display: inline-block;
    font-weight: bold; }
  .button h1, .view-simplepage form input[type=submit] h1, .button h2, .view-simplepage form input[type=submit] h2, .button h3, .view-simplepage form input[type=submit] h3, .button h4, .view-simplepage form input[type=submit] h4, .button h5, .view-simplepage form input[type=submit] h5, .button h6, .view-simplepage form input[type=submit] h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .button h1 a, .view-simplepage form input[type=submit] h1 a, .button h2 a, .view-simplepage form input[type=submit] h2 a, .button h3 a, .view-simplepage form input[type=submit] h3 a, .button h4 a, .view-simplepage form input[type=submit] h4 a, .button h5 a, .view-simplepage form input[type=submit] h5 a, .button h6 a, .view-simplepage form input[type=submit] h6 a {
      color: #4d4d4d; }
      .button h1 a:hover, .view-simplepage form input[type=submit] h1 a:hover, .button h2 a:hover, .view-simplepage form input[type=submit] h2 a:hover, .button h3 a:hover, .view-simplepage form input[type=submit] h3 a:hover, .button h4 a:hover, .view-simplepage form input[type=submit] h4 a:hover, .button h5 a:hover, .view-simplepage form input[type=submit] h5 a:hover, .button h6 a:hover, .view-simplepage form input[type=submit] h6 a:hover {
        color: #E4330E; }
  .button h1, .view-simplepage form input[type=submit] h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .button h2, .view-simplepage form input[type=submit] h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .button h3, .view-simplepage form input[type=submit] h3, .button h4, .view-simplepage form input[type=submit] h4, .button h5, .view-simplepage form input[type=submit] h5, .button h6, .view-simplepage form input[type=submit] h6 {
    font-size: 1.75rem; }
  .button img, .view-simplepage form input[type=submit] img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .button p, .view-simplepage form input[type=submit] p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .button ol, .view-simplepage form input[type=submit] ol, .button ul, .view-simplepage form input[type=submit] ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .button ol ol, .view-simplepage form input[type=submit] ol ol, .button ol ul, .view-simplepage form input[type=submit] ol ul, .button ul ol, .view-simplepage form input[type=submit] ul ol, .button ul ul, .view-simplepage form input[type=submit] ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .button ol, .view-simplepage form input[type=submit] ol {
    list-style-type: decimal; }
  .button a, .view-simplepage form input[type=submit] a {
    color: #E4330E;
    text-decoration: none; }
    .button a:hover, .view-simplepage form input[type=submit] a:hover {
      text-decoration: underline; }
  .button:hover, .view-simplepage form input[type=submit]:hover {
    background: #b4280b; }
  .button.button--prev:before, .view-simplepage form input.button--prev[type=submit]:before {
    height: 48px;
    background: url("../img/angle-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    float: left;
    width: 32px; }

.view-simplepage form {
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #4d4d4d;
  font-size: 1.25rem;
  box-sizing: border-box;
  float: left;
  width: 100%; }
  .view-simplepage form em {
    font-style: italic; }
  .view-simplepage form h1, .view-simplepage form h2, .view-simplepage form h3, .view-simplepage form h4, .view-simplepage form h5, .view-simplepage form h6,
  .view-simplepage form b, .view-simplepage form strong {
    display: inline-block;
    font-weight: bold; }
  .view-simplepage form h1, .view-simplepage form h2, .view-simplepage form h3, .view-simplepage form h4, .view-simplepage form h5, .view-simplepage form h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .view-simplepage form h1 a, .view-simplepage form h2 a, .view-simplepage form h3 a, .view-simplepage form h4 a, .view-simplepage form h5 a, .view-simplepage form h6 a {
      color: #4d4d4d; }
      .view-simplepage form h1 a:hover, .view-simplepage form h2 a:hover, .view-simplepage form h3 a:hover, .view-simplepage form h4 a:hover, .view-simplepage form h5 a:hover, .view-simplepage form h6 a:hover {
        color: #E4330E; }
  .view-simplepage form h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .view-simplepage form h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .view-simplepage form h3, .view-simplepage form h4, .view-simplepage form h5, .view-simplepage form h6 {
    font-size: 1.75rem; }
  .view-simplepage form img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .view-simplepage form p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .view-simplepage form ol, .view-simplepage form ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .view-simplepage form ol ol, .view-simplepage form ol ul, .view-simplepage form ul ol, .view-simplepage form ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .view-simplepage form ol {
    list-style-type: decimal; }
  .view-simplepage form a {
    color: #E4330E;
    text-decoration: none; }
    .view-simplepage form a:hover {
      text-decoration: underline; }
  .view-simplepage form * {
    box-sizing: border-box; }
  .view-simplepage form label {
    line-height: 48px;
    display: inline-block;
    float: left;
    width: 100%; }
    @media (min-width: 768px) {
      .view-simplepage form label {
        width: 150px; } }
  .view-simplepage form input,
  .view-simplepage form textarea {
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 48px;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    float: left;
    font-size: 1.25rem;
    outline: none;
    width: 100%; }
    @media (min-width: 768px) {
      .view-simplepage form input,
      .view-simplepage form textarea {
        width: calc(100% - 150px); } }
  .view-simplepage form textarea {
    height: 192px;
    line-height: 1.5; }
  .view-simplepage form input[type=submit] {
    margin-left: 0;
    width: 100%; }
    @media (min-width: 768px) {
      .view-simplepage form input[type=submit] {
        margin-left: 150px;
        width: calc(100% - 300px); } }
  .view-simplepage form .errorlist {
    list-style-type: none !important;
    margin: 0 !important; }
  .view-simplepage form .errorlist li {
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 24px;
    background: #fef5f3;
    border: 1px solid #E4330E;
    color: #E4330E;
    float: left;
    padding: 0 10px;
    width: 100%; }

.code-snippet .code-snippet__code {
  padding-left: 8.33333%;
  padding-right: 8.33333%; }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

.filer_image {
  display: block;
  max-width: 100%; }
  .filer_image.center {
    margin-left: auto;
    margin-right: auto; }
    .filer_image.center + .filer_image_info {
      text-align: center; }
  .filer_image.right {
    margin-left: auto;
    margin-right: 0; }
    .filer_image.right + .filer_image_info {
      text-align: right; }
  .filer_image + .filer_image_info {
    font-family: Helvetica;
    font-weight: 300;
    line-height: 1.5;
    color: #4d4d4d;
    font-size: 1.25rem;
    display: block; }
    .filer_image + .filer_image_info em {
      font-style: italic; }
    .filer_image + .filer_image_info h1, .filer_image + .filer_image_info h2, .filer_image + .filer_image_info h3, .filer_image + .filer_image_info h4, .filer_image + .filer_image_info h5, .filer_image + .filer_image_info h6,
    .filer_image + .filer_image_info b, .filer_image + .filer_image_info strong {
      display: inline-block;
      font-weight: bold; }
    .filer_image + .filer_image_info h1, .filer_image + .filer_image_info h2, .filer_image + .filer_image_info h3, .filer_image + .filer_image_info h4, .filer_image + .filer_image_info h5, .filer_image + .filer_image_info h6 {
      margin-top: 0px;
      margin-bottom: 24px;
      display: block; }
      .filer_image + .filer_image_info h1 a, .filer_image + .filer_image_info h2 a, .filer_image + .filer_image_info h3 a, .filer_image + .filer_image_info h4 a, .filer_image + .filer_image_info h5 a, .filer_image + .filer_image_info h6 a {
        color: #4d4d4d; }
        .filer_image + .filer_image_info h1 a:hover, .filer_image + .filer_image_info h2 a:hover, .filer_image + .filer_image_info h3 a:hover, .filer_image + .filer_image_info h4 a:hover, .filer_image + .filer_image_info h5 a:hover, .filer_image + .filer_image_info h6 a:hover {
          color: #E4330E; }
    .filer_image + .filer_image_info h1 {
      margin-top: 48px;
      margin-bottom: 48px;
      font-size: 3rem; }
    .filer_image + .filer_image_info h2 {
      margin-top: 48px;
      margin-bottom: 48px;
      font-size: 2.25rem; }
    .filer_image + .filer_image_info h3, .filer_image + .filer_image_info h4, .filer_image + .filer_image_info h5, .filer_image + .filer_image_info h6 {
      font-size: 1.75rem; }
    .filer_image + .filer_image_info img {
      margin-top: 24px;
      margin-bottom: 48px; }
    .filer_image + .filer_image_info p {
      margin-top: 0px;
      margin-bottom: 24px; }
    .filer_image + .filer_image_info ol, .filer_image + .filer_image_info ul {
      margin-top: 48px;
      margin-bottom: 48px;
      margin-left: 8.33333%;
      margin-right: 0%;
      list-style-type: disc; }
      .filer_image + .filer_image_info ol ol, .filer_image + .filer_image_info ol ul, .filer_image + .filer_image_info ul ol, .filer_image + .filer_image_info ul ul {
        margin-left: 4.16667%;
        margin-right: 0%;
        margin-top: 0px;
        margin-bottom: 0px; }
    .filer_image + .filer_image_info ol {
      list-style-type: decimal; }
    .filer_image + .filer_image_info a {
      color: #E4330E;
      text-decoration: none; }
      .filer_image + .filer_image_info a:hover {
        text-decoration: underline; }

.cmsplugin_filer_folder_slideshow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center; }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

.footer {
  width: 100%;
  height: 48px;
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #b3b3b3;
  font-size: 0.75rem;
  line-height: 48px;
  padding: 20px 0;
  text-align: center; }
  .footer em {
    font-style: italic; }
  .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6,
  .footer b, .footer strong {
    display: inline-block;
    font-weight: bold; }
  .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .footer h1 a, .footer h2 a, .footer h3 a, .footer h4 a, .footer h5 a, .footer h6 a {
      color: #4d4d4d; }
      .footer h1 a:hover, .footer h2 a:hover, .footer h3 a:hover, .footer h4 a:hover, .footer h5 a:hover, .footer h6 a:hover {
        color: #E4330E; }
  .footer h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .footer h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .footer h3, .footer h4, .footer h5, .footer h6 {
    font-size: 1.75rem; }
  .footer img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .footer p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .footer ol, .footer ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .footer ol ol, .footer ol ul, .footer ul ol, .footer ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .footer ol {
    list-style-type: decimal; }
  .footer a {
    color: #E4330E;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }
  .image.image--avatar {
    width: 150px;
    height: 150px;
    border-radius: 150px; }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

.navbar {
  height: 48px;
  line-height: 48px;
  background: #FFF;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  width: 100vw;
  z-index: 10; }
  .navbar.navbar--sticky {
    position: fixed;
    top: 0;
    left: 0; }
  .navbar .navbar__heading {
    color: #E4330E;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem; }
    .navbar .navbar__heading a {
      color: #E4330E;
      text-decoration: none; }
      .navbar .navbar__heading a:hover {
        text-decoration: underline; }
    .navbar .navbar__heading .navbar__link {
      color: transparent;
      display: block;
      width: 15px; }
      .navbar .navbar__heading .navbar__link:first-letter {
        color: #E4330E; }
      @media (min-width: 768px) {
        .navbar .navbar__heading .navbar__link {
          color: #E4330E;
          width: auto; } }
  .navbar .navbar__nav {
    color: #b3b3b3;
    font-family: Helvetica;
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 20px;
    width: 100%; }
    .navbar .navbar__nav a {
      color: #b3b3b3;
      text-decoration: none; }
      .navbar .navbar__nav a:hover {
        color: #E4330E; }
  .navbar .navbar__list {
    display: -ms-flexbox;
    display: flex; }
  .navbar .navbar__list-item {
    margin-right: 20px; }
  .navbar .navbar__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
  .navbar .navbar__label {
    text-indent: -999rem; }
    .navbar .navbar__label:before {
      height: 48px;
      background: url("../img/search.svg");
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      float: left;
      width: 32px; }
  .navbar .navbar__input {
    line-height: 36px;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.25rem;
    outline: none;
    transition: width 0.5s ease;
    width: 0; }
    .navbar .navbar__input:focus {
      margin-left: 10px;
      width: 150px; }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

.view-article .view-article__main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.view-article .view-article__header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.view-article .view-article__heading {
  color: #E4330E;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .view-article .view-article__heading a {
    color: #E4330E;
    text-decoration: none; }
    .view-article .view-article__heading a:hover {
      text-decoration: underline; }
  @media (min-width: 768px) {
    .view-article .view-article__heading {
      top: 25%; } }

.view-article .view-article__heading .view-article__link {
  color: #FFF; }

.view-article .view-article__back {
  padding-left: 8.33333%;
  padding-right: 8.33333%;
  position: absolute;
  top: 100%;
  transform: translate(0, -100%); }
  @media (min-width: 768px) {
    .view-article .view-article__back {
      top: 25%;
      transform: translate(0, -25%); } }

.view-article .view-article__header-image {
  width: 100%;
  height: 288px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .view-article .view-article__header-image {
      height: 576px; } }

.view-article .view-article__content {
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 288px;
  margin-bottom: 0px;
  padding-top: 48px;
  padding-bottom: 48px;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14902);
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  position: relative;
  z-indexL: 10; }
  @media (min-width: 768px) {
    .view-article .view-article__content {
      padding-left: 96px;
      padding-right: 96px;
      margin-top: 288px;
      margin-bottom: 0px; } }

.view-article .view-article__content {
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #4d4d4d;
  font-size: 1.25rem; }
  .view-article .view-article__content em {
    font-style: italic; }
  .view-article .view-article__content h1, .view-article .view-article__content h2, .view-article .view-article__content h3, .view-article .view-article__content h4, .view-article .view-article__content h5, .view-article .view-article__content h6,
  .view-article .view-article__content b, .view-article .view-article__content strong {
    display: inline-block;
    font-weight: bold; }
  .view-article .view-article__content h1, .view-article .view-article__content h2, .view-article .view-article__content h3, .view-article .view-article__content h4, .view-article .view-article__content h5, .view-article .view-article__content h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .view-article .view-article__content h1 a, .view-article .view-article__content h2 a, .view-article .view-article__content h3 a, .view-article .view-article__content h4 a, .view-article .view-article__content h5 a, .view-article .view-article__content h6 a {
      color: #4d4d4d; }
      .view-article .view-article__content h1 a:hover, .view-article .view-article__content h2 a:hover, .view-article .view-article__content h3 a:hover, .view-article .view-article__content h4 a:hover, .view-article .view-article__content h5 a:hover, .view-article .view-article__content h6 a:hover {
        color: #E4330E; }
  .view-article .view-article__content h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .view-article .view-article__content h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .view-article .view-article__content h3, .view-article .view-article__content h4, .view-article .view-article__content h5, .view-article .view-article__content h6 {
    font-size: 1.75rem; }
  .view-article .view-article__content img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .view-article .view-article__content p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .view-article .view-article__content ol, .view-article .view-article__content ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .view-article .view-article__content ol ol, .view-article .view-article__content ol ul, .view-article .view-article__content ul ol, .view-article .view-article__content ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .view-article .view-article__content ol {
    list-style-type: decimal; }
  .view-article .view-article__content a {
    color: #E4330E;
    text-decoration: none; }
    .view-article .view-article__content a:hover {
      text-decoration: underline; }

.view-article .codepen-embed {
  margin-left: -48px;
  width: calc(100% + 2 * 48px); }
  @media (min-width: 768px) {
    .view-article .codepen-embed {
      margin-left: -96px;
      width: calc(100% + 4 * 48px); } }

.view-article .code-snippet {
  margin-left: -48px;
  width: calc(100% + 2 * 48px); }
  @media (min-width: 768px) {
    .view-article .code-snippet {
      margin-left: -96px;
      width: calc(100% + 4 * 48px); } }

.view-article .view-article__footer {
  margin-top: 48px;
  margin-bottom: 0px;
  @inlcude abstract-text();
  color: #b3b3b3;
  font-size: 1rem;
  text-align: center; }

.view-article .view-article__image-notice {
  width: 100%;
  display: block; }

.view-article .view-article__related {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
  @inlcude abstract-text();
  color: #b3b3b3;
  font-size: 1rem;
  list-style: none;
  list-style-type: none !important;
  margin-left: 0 !important; }
  @media (min-width: 768px) {
    .view-article .view-article__related {
      display: -ms-flexbox;
      display: flex; } }

.view-article .view-article__related-item {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .view-article .view-article__related-item {
      margin-top: 0px;
      margin-bottom: 0px; } }

.view-article .view-article__link {
  display: block;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap; }
  @media (min-width: 768px) {
    .view-article .view-article__link {
      line-height: 96px; } }

.view-article .view-article__related-image {
  width: 48px !important;
  height: 48px;
  object-fit: cover;
  float: left;
  margin: 0 20px 0 0 !important; }
  @media (min-width: 768px) {
    .view-article .view-article__related-image {
      width: 96px !important;
      height: 96px; } }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

.view-category .view-category__main {
  display: table;
  width: 100%; }

.view-category .view-category__article {
  padding-top: 0px;
  padding-bottom: 24px;
  background: #FFF;
  border-right: 1px dashed rgba(0, 0, 0, 0.14902);
  box-sizing: border-box;
  float: left; }
  .view-category .view-category__article:hover {
    border-left: 1px dashed rgba(0, 0, 0, 0.14902);
    transition: all .2s;
    transform: scale(1.01); }
  @media (min-width: 768px) {
    .view-category .view-category__article {
      width: 50%; } }
  @media (min-width: 1024px) {
    .view-category .view-category__article {
      width: 33.33333%; } }
  @media (min-width: 1440px) {
    .view-category .view-category__article {
      width: 25%; } }

.view-category .view-category__header-image {
  width: 100%;
  height: 288px;
  margin-top: 0px;
  margin-bottom: 24px;
  object-fit: cover; }

.view-category .view-category__article .view-category__title {
  margin-top: 0px;
  margin-bottom: 0px; }

.view-category .view-category__content {
  height: 240px;
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #4d4d4d;
  font-size: 1.25rem;
  overflow: hidden;
  padding: 0 20px;
  position: relative; }
  .view-category .view-category__content em {
    font-style: italic; }
  .view-category .view-category__content h1, .view-category .view-category__content h2, .view-category .view-category__content h3, .view-category .view-category__content h4, .view-category .view-category__content h5, .view-category .view-category__content h6,
  .view-category .view-category__content b, .view-category .view-category__content strong {
    display: inline-block;
    font-weight: bold; }
  .view-category .view-category__content h1, .view-category .view-category__content h2, .view-category .view-category__content h3, .view-category .view-category__content h4, .view-category .view-category__content h5, .view-category .view-category__content h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .view-category .view-category__content h1 a, .view-category .view-category__content h2 a, .view-category .view-category__content h3 a, .view-category .view-category__content h4 a, .view-category .view-category__content h5 a, .view-category .view-category__content h6 a {
      color: #4d4d4d; }
      .view-category .view-category__content h1 a:hover, .view-category .view-category__content h2 a:hover, .view-category .view-category__content h3 a:hover, .view-category .view-category__content h4 a:hover, .view-category .view-category__content h5 a:hover, .view-category .view-category__content h6 a:hover {
        color: #E4330E; }
  .view-category .view-category__content h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .view-category .view-category__content h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .view-category .view-category__content h3, .view-category .view-category__content h4, .view-category .view-category__content h5, .view-category .view-category__content h6 {
    font-size: 1.75rem; }
  .view-category .view-category__content img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .view-category .view-category__content p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .view-category .view-category__content ol, .view-category .view-category__content ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .view-category .view-category__content ol ol, .view-category .view-category__content ol ul, .view-category .view-category__content ul ol, .view-category .view-category__content ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .view-category .view-category__content ol {
    list-style-type: decimal; }
  .view-category .view-category__content a {
    color: #E4330E;
    text-decoration: none; }
    .view-category .view-category__content a:hover {
      text-decoration: underline; }

.view-category .view-category__body {
  max-height: 96px;
  overflow: hidden; }

.view-category .view-category__footer {
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #b3b3b3;
  font-size: 0.75rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  width: calc(100% - 40px); }
  .view-category .view-category__footer em {
    font-style: italic; }
  .view-category .view-category__footer h1, .view-category .view-category__footer h2, .view-category .view-category__footer h3, .view-category .view-category__footer h4, .view-category .view-category__footer h5, .view-category .view-category__footer h6,
  .view-category .view-category__footer b, .view-category .view-category__footer strong {
    display: inline-block;
    font-weight: bold; }
  .view-category .view-category__footer h1, .view-category .view-category__footer h2, .view-category .view-category__footer h3, .view-category .view-category__footer h4, .view-category .view-category__footer h5, .view-category .view-category__footer h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .view-category .view-category__footer h1 a, .view-category .view-category__footer h2 a, .view-category .view-category__footer h3 a, .view-category .view-category__footer h4 a, .view-category .view-category__footer h5 a, .view-category .view-category__footer h6 a {
      color: #4d4d4d; }
      .view-category .view-category__footer h1 a:hover, .view-category .view-category__footer h2 a:hover, .view-category .view-category__footer h3 a:hover, .view-category .view-category__footer h4 a:hover, .view-category .view-category__footer h5 a:hover, .view-category .view-category__footer h6 a:hover {
        color: #E4330E; }
  .view-category .view-category__footer h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .view-category .view-category__footer h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .view-category .view-category__footer h3, .view-category .view-category__footer h4, .view-category .view-category__footer h5, .view-category .view-category__footer h6 {
    font-size: 1.75rem; }
  .view-category .view-category__footer img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .view-category .view-category__footer p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .view-category .view-category__footer ol, .view-category .view-category__footer ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .view-category .view-category__footer ol ol, .view-category .view-category__footer ol ul, .view-category .view-category__footer ul ol, .view-category .view-category__footer ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .view-category .view-category__footer ol {
    list-style-type: decimal; }
  .view-category .view-category__footer a {
    color: #E4330E;
    text-decoration: none; }
    .view-category .view-category__footer a:hover {
      text-decoration: underline; }

.view-category .view-category__publication-date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.view-category .view-category__footer .view-category__link {
  font-weight: bold;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.view-category .view-category__pagination {
  margin-top: 48px;
  margin-bottom: 0px;
  float: left;
  width: 100%; }

.view-category .view-category__pagination__list {
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #4d4d4d;
  font-size: 1.25rem;
  text-align: center; }
  .view-category .view-category__pagination__list em {
    font-style: italic; }
  .view-category .view-category__pagination__list h1, .view-category .view-category__pagination__list h2, .view-category .view-category__pagination__list h3, .view-category .view-category__pagination__list h4, .view-category .view-category__pagination__list h5, .view-category .view-category__pagination__list h6,
  .view-category .view-category__pagination__list b, .view-category .view-category__pagination__list strong {
    display: inline-block;
    font-weight: bold; }
  .view-category .view-category__pagination__list h1, .view-category .view-category__pagination__list h2, .view-category .view-category__pagination__list h3, .view-category .view-category__pagination__list h4, .view-category .view-category__pagination__list h5, .view-category .view-category__pagination__list h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .view-category .view-category__pagination__list h1 a, .view-category .view-category__pagination__list h2 a, .view-category .view-category__pagination__list h3 a, .view-category .view-category__pagination__list h4 a, .view-category .view-category__pagination__list h5 a, .view-category .view-category__pagination__list h6 a {
      color: #4d4d4d; }
      .view-category .view-category__pagination__list h1 a:hover, .view-category .view-category__pagination__list h2 a:hover, .view-category .view-category__pagination__list h3 a:hover, .view-category .view-category__pagination__list h4 a:hover, .view-category .view-category__pagination__list h5 a:hover, .view-category .view-category__pagination__list h6 a:hover {
        color: #E4330E; }
  .view-category .view-category__pagination__list h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .view-category .view-category__pagination__list h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .view-category .view-category__pagination__list h3, .view-category .view-category__pagination__list h4, .view-category .view-category__pagination__list h5, .view-category .view-category__pagination__list h6 {
    font-size: 1.75rem; }
  .view-category .view-category__pagination__list img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .view-category .view-category__pagination__list p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .view-category .view-category__pagination__list ol, .view-category .view-category__pagination__list ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .view-category .view-category__pagination__list ol ol, .view-category .view-category__pagination__list ol ul, .view-category .view-category__pagination__list ul ol, .view-category .view-category__pagination__list ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .view-category .view-category__pagination__list ol {
    list-style-type: decimal; }
  .view-category .view-category__pagination__list a {
    color: #E4330E;
    text-decoration: none; }
    .view-category .view-category__pagination__list a:hover {
      text-decoration: underline; }

.view-category .view-category__pagination__list-item {
  line-height: 48px;
  display: inline-block; }

.view-category .view-category__pagination__list-item .view-category__pagination__link {
  color: #b3b3b3;
  display: block; }

.view-category .view-category__pagination__list-item .view-category__pagination__link--active {
  color: #E4330E; }

.view-category .view-category__pagination__list-item .view-category__pagination__link--previous {
  text-indent: -999rem; }
  .view-category .view-category__pagination__list-item .view-category__pagination__link--previous:before {
    height: 48px;
    background: url("../img/angle-left-gray.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    float: left;
    width: 10px; }

.view-category .view-category__pagination__list-item .view-category__pagination__link--next {
  text-indent: -999rem; }
  .view-category .view-category__pagination__list-item .view-category__pagination__link--next:before {
    height: 48px;
    background: url("../img/angle-right-gray.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    float: left;
    width: 10px; }

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lobster-regular/Lobster-regular.eot");
  src: url("../font/Lobster-regular/Lobster-regular.eot?#iefix") format("embedded-opentype"), local("Lobster"), local("Lobster-regular"), url("../font/Lobster-regular/Lobster-regular.woff2") format("woff2"), url("../font/Lobster-regular/Lobster-regular.woff") format("woff"), url("../font/Lobster-regular/Lobster-regular.ttf") format("truetype"), url("../font/Lobster-regular/Lobster-regular.svg#Lobster") format("svg"); }

.view-simplepage .view-simplepage__main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.view-simplepage .view-simplepage__header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.view-simplepage .view-simplepage__heading {
  color: #E4330E;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .view-simplepage .view-simplepage__heading a {
    color: #E4330E;
    text-decoration: none; }
    .view-simplepage .view-simplepage__heading a:hover {
      text-decoration: underline; }
  @media (min-width: 768px) {
    .view-simplepage .view-simplepage__heading {
      top: 25%; } }

.view-simplepage .view-simplepage__heading .view-simplepage__link {
  color: #FFF; }

.view-simplepage .view-simplepage__back {
  padding-left: 8.33333%;
  padding-right: 8.33333%;
  position: absolute;
  top: 100%;
  transform: translate(0, -100%); }
  @media (min-width: 768px) {
    .view-simplepage .view-simplepage__back {
      top: 25%;
      transform: translate(0, -25%); } }

.view-simplepage .view-simplepage__header-image {
  width: 100%;
  height: 288px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .view-simplepage .view-simplepage__header-image {
      height: 576px; } }

.view-simplepage .view-simplepage__content {
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 288px;
  margin-bottom: 0px;
  padding-top: 48px;
  padding-bottom: 48px;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14902);
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  position: relative;
  z-indexL: 10; }
  @media (min-width: 768px) {
    .view-simplepage .view-simplepage__content {
      padding-left: 96px;
      padding-right: 96px;
      margin-top: 288px;
      margin-bottom: 0px; } }

.view-simplepage .view-simplepage__content {
  font-family: Helvetica;
  font-weight: 300;
  line-height: 1.5;
  color: #4d4d4d;
  font-size: 1.25rem; }
  .view-simplepage .view-simplepage__content em {
    font-style: italic; }
  .view-simplepage .view-simplepage__content h1, .view-simplepage .view-simplepage__content h2, .view-simplepage .view-simplepage__content h3, .view-simplepage .view-simplepage__content h4, .view-simplepage .view-simplepage__content h5, .view-simplepage .view-simplepage__content h6,
  .view-simplepage .view-simplepage__content b, .view-simplepage .view-simplepage__content strong {
    display: inline-block;
    font-weight: bold; }
  .view-simplepage .view-simplepage__content h1, .view-simplepage .view-simplepage__content h2, .view-simplepage .view-simplepage__content h3, .view-simplepage .view-simplepage__content h4, .view-simplepage .view-simplepage__content h5, .view-simplepage .view-simplepage__content h6 {
    margin-top: 0px;
    margin-bottom: 24px;
    display: block; }
    .view-simplepage .view-simplepage__content h1 a, .view-simplepage .view-simplepage__content h2 a, .view-simplepage .view-simplepage__content h3 a, .view-simplepage .view-simplepage__content h4 a, .view-simplepage .view-simplepage__content h5 a, .view-simplepage .view-simplepage__content h6 a {
      color: #4d4d4d; }
      .view-simplepage .view-simplepage__content h1 a:hover, .view-simplepage .view-simplepage__content h2 a:hover, .view-simplepage .view-simplepage__content h3 a:hover, .view-simplepage .view-simplepage__content h4 a:hover, .view-simplepage .view-simplepage__content h5 a:hover, .view-simplepage .view-simplepage__content h6 a:hover {
        color: #E4330E; }
  .view-simplepage .view-simplepage__content h1 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 3rem; }
  .view-simplepage .view-simplepage__content h2 {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 2.25rem; }
  .view-simplepage .view-simplepage__content h3, .view-simplepage .view-simplepage__content h4, .view-simplepage .view-simplepage__content h5, .view-simplepage .view-simplepage__content h6 {
    font-size: 1.75rem; }
  .view-simplepage .view-simplepage__content img {
    margin-top: 24px;
    margin-bottom: 48px; }
  .view-simplepage .view-simplepage__content p {
    margin-top: 0px;
    margin-bottom: 24px; }
  .view-simplepage .view-simplepage__content ol, .view-simplepage .view-simplepage__content ul {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 8.33333%;
    margin-right: 0%;
    list-style-type: disc; }
    .view-simplepage .view-simplepage__content ol ol, .view-simplepage .view-simplepage__content ol ul, .view-simplepage .view-simplepage__content ul ol, .view-simplepage .view-simplepage__content ul ul {
      margin-left: 4.16667%;
      margin-right: 0%;
      margin-top: 0px;
      margin-bottom: 0px; }
  .view-simplepage .view-simplepage__content ol {
    list-style-type: decimal; }
  .view-simplepage .view-simplepage__content a {
    color: #E4330E;
    text-decoration: none; }
    .view-simplepage .view-simplepage__content a:hover {
      text-decoration: underline; }

.view-simplepage .codepen-embed {
  margin-left: -48px;
  width: calc(100% + 2 * 48px); }
  @media (min-width: 768px) {
    .view-simplepage .codepen-embed {
      margin-left: -96px;
      width: calc(100% + 4 * 48px); } }

.view-simplepage .code-snippet {
  margin-left: -48px;
  width: calc(100% + 2 * 48px); }
  @media (min-width: 768px) {
    .view-simplepage .code-snippet {
      margin-left: -96px;
      width: calc(100% + 4 * 48px); } }

.view-simplepage .view-simplepage__footer {
  margin-top: 48px;
  margin-bottom: 0px;
  @inlcude abstract-text();
  color: #b3b3b3;
  font-size: 1rem;
  text-align: center; }

.view-simplepage .view-simplepage__image-notice {
  width: 100%;
  display: block; }

html {
  background: #e6e6e6; }
